.App {
  font-family: sans-serif;
  text-align: center;
}

/*neutral*/
$neutral-primary-color-dark:   #616161;
$neutral-primary-color:        #9E9E9E;
$neutral-primary-color-light:  #F5F5F5;
$neutral-primary-color-text:   #212121;
$neutral-accent-color:         #607D8B;
$neutral-primary-text-color:   #212121;
$neutral-secondary-text-color: #757575;
$neutral-divider-color:        #BDBDBD;

.rows{
  display: flex;
  flex-direction: row;
  .row {
    margin-left: 10px;
  }
}